.proceed-orders form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 210px;
    
    padding: 50px;
}
.proceed-orders form input{
    width: 40%;
    margin-bottom: 20px;
    border: 2px solid aquamarine;
    border-radius: 10px;
  }
.shipping-title{
    text-align: center;
    margin-top: 50px;
}