#formBasicEmail{
    width: 100%;
    
}
#exampleForm.ControlTextarea1{
    width: 100%;
    margin-bottom: 10px;
    
}
.contact-img img{
    width: 450px;
    margin-left: 20px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 500px;
    margin-bottom: 150px;
    margin-top: 0px;
    
    
}
.contact-form {
    padding-right: 441px;
    padding-top: 50px;

}
#Submit-btn{
    margin-left: 0px;
    margin-top: 5px;
}