/* #formBasicEmail{
    width: 100%;
    
}
#formBasicPassword{
    width: 100%;
    
}
.register-img img{
    width: 450px;
} */
/* .register-container{
    display: flex;
    justify-content: space-between;
    margin-left: 210px;
    background-color: #FF8E87;
    
} */
.register-h1{
    text-align: center;
    margin-top: 50px;
}
.register-form{
    padding-right: 455px;
    padding-top: 110px;
    padding-bottom: 100px;
}
#login-btn-google {
    margin-left: 615px;
    margin-bottom: 150px;
}
